# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtual Environment
# -------------------------
venv/
.env/

# -------------------------
# Jupyter Notebook
# -------------------------
.ipynb_checkpoints/

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# System Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Model Files (Large)
# -------------------------
*.pt
*.h5
*.onnx

# -------------------------
# YOLO Training Outputs
# -------------------------
runs/

# -------------------------
# Dataset (Optional - if large)
# -------------------------
data/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Streamlit
# -------------------------
.streamlit/

# -------------------------
# Temporary Files
# -------------------------
*.tmp
*.temp